body {
    font-family:"my font" ;

    background-color: #EFF6FF;
    height: 1270px;
    width: 1800px;
}
 @font-face {
        font-family: "my font";
                    src: url("./BarlowSemiCondensed-ExtraLight.otf") }

.list {
    background-color: #FFFFFF; 
    display: block;
    height: 1165px;
    width: 1700px;
    margin-top: 5%;
    margin-left:5%;
    margin-right: 5%;
  
    
}

.face {
padding-top: 150px;
padding-left: 965px;
}

.texth1 {
color: #7B8A92;



}

.texth2 {
color: #96A5B1;


}

.foto {
    
   position: relative;
   display: inline-block;
   width: 100%;
     max-width: 885px;
   max-height: 885px;
   
   margin-top: -16.5%;
  

}

.bg {
    display: block;
    width: 100%;
     height: auto;
}
.logo {
    position: absolute;
    top: 5%;
    right: 74%;
    width: 20%;
    
}
.regis {
    display: flex;
        margin-left: 57%;
    margin-top: -30%;
    background-color: #255A9B;
    width: 290px;
    height: 50px;
}
.facebook {
    width: 35px;
    background-color:#255A9B ;
    
    margin-left: 4%;

}

.ftex {
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 18px;
    text-decoration: none;
}
.khox {
     display: flex;
        margin-left: 78%;
    margin-top: -3%;
    background-color: #0076B6;
    width: 290px;
    height: 50px;
}
.link {
     width: 25px;
    background-color:#0076B6 ;
    
    margin-left: 7%;

}
.vyachekhox {
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    margin-left: 29px;
    margin-top: 14px;
    font-size: 18px;
    text-decoration: none;
}
.lineor {
    display: flex;
    align-items: center;
    margin-left: 67%;
    max-width: 18%;
    color: #3a3a3a;

}
.lol {
    flex-grow: 1;
    height: 1px;
    background-color: #cfcfcf;
}
.or {
    margin: 0 15px;
}
.eml {
    position: relative;
    width: 300px;
}
.Email {
    width: 280px;
    height: 36px;
    margin-left: 323%;
    padding-top: 20px;
   border: 2px solid #EEEEEE;
   border-left: 2px solid #3698FB;
    
}
.igor {
    position: absolute;
     margin-left: 327%;
     margin-top: 1%;
     color: #AFAFAF;

     
}
::placeholder {
    font-size: 20px;
    padding-left: 7px;

}
