body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #EFF6FF;
    height: 1270px;
    width: 1800px;
}

.list {
    background-color: #FFFFFF; 
    display: block;
    height: 1165px;
    width: 1700px;
    margin-top: 5%;
    margin-left:5%;
    margin-right: 5%;
  
    
}

.face {
padding-top: 150px;
padding-left: 965px;
}

.texth1 {
color: #7B8A92;



}

.texth2 {
color: #96A5B1;


}

.foto {
    
   position: relative;
   display: inline-block;
   width: 100%;
   max-width: 885px;
   max-height: 885px;
   
   margin-top: -17.6%;
  

}

.bg {
    display: block;
    width: 100%;
     height: auto;
}
.logo {
    position: absolute;
    top: 5%;
    right: 74%;
    width: 20%;
    
}
