body {
    font-family:"my font" ;

    background-color: #EFF6FF;
    height: 1270px;
    width: 1800px;
}
 @font-face {
        font-family: "my font";
                    src: url("./BarlowSemiCondensed-ExtraLight.otf") }

.list {
    background-color: #FFFFFF; 
    display: block;
    height: 1165px;
    width: 1700px;
    margin-top: 5%;
    margin-left:5%;
    margin-right: 5%;
  
    
}

.face {
padding-top: 150px;
padding-left: 965px;
}


.texth1 {
color: #7B8A92;



}

.texth2 {
color: #96A5B1;


}

.foto {
    
   position: relative;
   display: inline-block;
   width: 100%;
     max-width: 885px;
   max-height: 885px;
   
   margin-top: -16.5%;
  

}

.bg {
    display: block;
    width: 100%;
     height: auto;
}
.logo {
    position: absolute;
    top: 5%;
    right: 74%;
    width: 20%;
    
}
.regis {
    display: flex;
        margin-left: 57%;
    margin-top: -30%;
    background-color: #255A9B;
    width: 290px;
    height: 50px;
}
.facebook {
    width: 35px;
    background-color:#255A9B ;
    
    margin-left: 4%;

}

.ftex {
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    margin-left: 20px;
    margin-top: 12px;
    font-size: 18px;
    text-decoration: none;
}
.khox {
     display: flex;
        margin-left: 78%;
    margin-top: -3%;
    background-color: #0076B6;
    width: 290px;
    height: 50px;
}
.link {
     width: 25px;
    background-color:#0076B6 ;
    
    margin-left: 7%;

}
.vyachekhox {
    color: #FFFFFF;
    display: inline-block;
    position: relative;
    margin-left: 29px;
    margin-top: 14px;
    font-size: 18px;
    text-decoration: none;
}
.lineor {
    display: flex;
    align-items: center;
    margin-left: 67%;
    max-width: 18%;
    color: #3a3a3a;

}
.lol {
    flex-grow: 1;
    height: 1px;
    background-color: #cfcfcf;
}
.or {
    margin: 0 15px;
}
.eml {
    position: relative;
    width: 300px;
}
.Email {
    width: 280px;
    height: 36px;
    margin-left: 323%;
    padding-top: 20px;
   border: 2px solid #EEEEEE;
   border-left: 2px solid #3698FB;
    
}
.igor {
    position: absolute;
     margin-left: 327%;
     margin-top: 1%;
     color: #AFAFAF;

     
}
::placeholder {
    font-size: 20px;
    padding-left: 7px;

}
.toy {
     position: relative;
    width: 300px;
    margin-left: 78%;
    margin-top: -3.5%;
    
}
.pho {
     position: absolute;
     margin-top: 1%;
     margin-left: 4%;
     color: #AFAFAF;
}
.phone {
    width: 280px;
    height: 50px;

   border: 2px solid #EEEEEE;
}
.face2 {
    padding-top: 1%px;
padding-left: 965px;
}
.radio {
    margin-left: 58%;
    margin-top: 2%;
   
}
#individual {
    -webkit-appearance: none;
        appearance: none;
        width: 1rem;
        height: 1rem;
        border: 4px solid #3698FB;
        border-radius: 50%;
        background-color: #FFFFFF;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        margin: 0;
        margin-left: -11.7%;
    }
.mama {
    margin-top: 10px;
}
.Busines {
    margin-left: 28%;
}
#Business {
    margin-left: -11.7%;
}
.ira {
     margin-left: 28%;
}
#IRA {
    margin-left: -6%;
}
.tras {
    margin-left: 22%;
}
#Trust {
    margin-left: -8%;
}
#tx {
    margin-left: 57%;
    margin-top: 1%;
    width: 14%;
    height: 3%;
    padding-bottom: 25px;
    color: #2A4A5C;
     border: 2px solid #EEEEEE;
}
::placeholder {
    font-size: 13px;
    white-space: pre-line;
    vertical-align: middle;
}
.you {
    margin-left: 56.5%;
    margin-top: 40px;
}
.kuplonov {
    color:#3698FB ;
}


    


